.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

fieldset {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.2rem;
  margin-top: 10px;
}

h1:first-child {
  margin-top: 0;
}
